@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter");

@import url("https://fonts.googleapis.com/css2?family=Poppins");
@layer components {
  .nav_link {
    @apply text-center text-base text-white px-3 py-2 font-normal font-inter opacity-80 hover:opacity-100 relative flex justify-center;
  }
  .btn_primary {
    @apply text-center transition duration-75 ease-in-out text-base  bg-primary px-8 py-4 text-white rounded-[5px] font-medium font-inter;
  }

  .title2 {
    @apply text-black  lg:text-[44px] text-3xl  font-inter font-semibold leading-[130%];
  }
  .title5 {
    @apply text-black  lg:text-[25px] text-xl  font-inter font-medium leading-[150%];
  }
  .subTitle1 {
    @apply text-black text-[14px]  font-inter font-normal leading-[160%];
  }

  .featureCard {
    @apply flex-grow basis-[263px] max-w-sm shadow-card rounded-[10px] transition-all duration-300 ease-in-out;
  }

  /* plan card */

  .plan_card {
    @apply basis-[360px] shadow-card rounded-[10px] transition-all duration-300 ease-in-out;
  }

  .plan_card_active .plan_card_header {
    @apply bg-planCard;
  }
  .plan_card_active .plan_card_header p {
    @apply text-white;
  }
  .plan_card_active .plan_card_header h6 {
    @apply text-white opacity-100;
  }

  .plan_card_active .plan_card_header path {
    @apply fill-white;
  }
  .plan_card_active {
    box-shadow: 0px 2px 2px 0px #5b1fb0;
  }

  .plan_card_active .btn_primary {
    @apply text-white bg-primary;
  }

  .plan_card_active {
    box-shadow: 0px 2px 2px 0px #5b1fb0;
  }

  /* review_card */
  .review_card {
    @apply flex-grow basis-[360px] shadow-card max-w-sm  rounded-[10px] transition-all duration-300 ease-in-out;
  }
  .review_card:hover {
    box-shadow: 0px 2px 4px 0px #5b1fb0;
  }
}

@layer utilities {
  .nav_link_active:before {
    content: "";
    position: absolute;
    top: 100%;
    width: 80px;
    height: 2px;

    background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0) 0%,
      #42b4ee 48.85%,
      rgba(255, 255, 255, 0) 100%
    );
    @apply text-primary;
  }
  .container {
    @apply mx-auto px-4;
  }

  .featureCard:hover .featureCard_content {
    @apply bg-featureCard;
  }
  .featureCard:hover .featureCard_title {
    @apply text-white;
  }
  .featureCard:hover .featureCard_subTitle {
    @apply text-white;
  }
  .featureCard:hover .featureCard_btn_path {
    @apply stroke-white;
  }

  /* plan card */
  .plan_card:hover .plan_card_header {
    @apply bg-planCard;
  }

  .plan_card:hover .plan_card_header p {
    @apply text-white;
  }
  .plan_card:hover .plan_card_header h6 {
    @apply text-white opacity-100;
  }

  .plan_card:hover .plan_card_header path {
    @apply fill-white;
  }
  .plan_card:hover {
    box-shadow: 0px 2px 2px 0px #5b1fb0;
  }

  .plan_card:hover .btn_primary {
    @apply text-white bg-primary;
  }

  .review_card:hover img {
    @apply border-[#5319A6];
  }
  .review_card:hover img {
    @apply border-[#5319A6];
  }
  .review_card:hover path {
    @apply fill-[#5319A6] opacity-10;
  }
}
